
body {
    font-family: 'Roboto';
    background: url(../res/bg1.jpg) #E4E0D2 no-repeat fixed center;
    background-size: contain;
}

h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 100;
}

.elements {
    background: rgba(0, 0, 0, 0.5);
}
